// Strings
STRINGTABLE
BEGIN
    1    "Batch class:"
    2    "Document class:"
    3    "Index Storage"
    4    "Document Storage"
    5    "Image Format"
    6    "Loading release setup.  Please wait."
    9    "&File name:"

    10    "&Index Values"
    11    "Sequence"
    12    "Index Value"
    13    "Image Files"
    14    "&Skip first page of each document"
    16    "&Image file type:"
    17    "&Release directory:"

    20    "OCR Full Text Files"
    21    "Release dire&ctory:"
    22    "Move"
    28    "Directory:"
    29    "Drive:"
    30    "Release Images As"
    31	  "All Files"

    34    "Kofax PDF Files"
    35    "Release &directory:"

    41    "Adobe Acrobat Capture PDF (from JPEG)"
    42    "Adobe Acrobat Capture PDF (from Multipage TIFF)"
    43    "Adobe Acrobat Capture PDF (from PCX)"
    44    "Adobe Acrobat Capture PDF (from Single Page TIFF)"

    50    "&Browse..."
    51    "&Apply"
    52    "OK"

    53    "Cancel"
    54    "&Help"
    55    "Br&owse..."
    56    "A&dd"
    57    "D&elete"
    58    "Dele&te All"
    59    "Bro&wse..."
    60    "&Settings..."

    70    "&Current Link"
    71    "&Delete"
    72    "&Document ID"
    73    "&Index Fields"
    74    "&Batch Fields"
    75    "&Ascent Capture Values"
    76    "&Text Constant"
    77    "&Unlink Field"

    80    "PDF Related Settings"
    82    "Release Related Settings"
    88    "Poll &Adobe Acrobat Capture for status on submitted documents" 
    90    "Delete Adobe Acrobat Capture document &if a processing error occurs" 
    91    "&Name:"
    92    "Release &image files"
    93    "Release OCR &full text files"
    94    "Release Kofax &PDF files"

    110    "Batch Name"
    111    "Batch Description"
    954    "Select Directory"
    955    "Select Image Release Directory"
    956    "Select OCR Release Directory"
    958    "Data Verification Failed"
    959    "Save Settings"

    960    "Drive/Directory Problem"
    961    "Storage Queue Process"
    962    "Data Verification"
    963    "Select Kofax PDF Release Directory"
    964    "Adobe Acrobat Capture Settings"
    1000   "Are you sure you want to delete this Index Value?"
    1001   "Are you sure you want to delete all Index Values?"
    1002   "This Text Constant will be discarded and the previous Index Value will be restored."
    1003   "Name must be 32 characters or less."
    1005   "A fatal error occurred while loading the Release Setup form.  Now returning to the Administration module."
    1013   "isn't a valid path.  Make sure that the path name is spelled correctly and that you are connected to the server on which the file resides."

    1014    "Could not open the file"
    1016    "No Index Values have been defined but Index Fields and Batch Fields are available.  Released documents will have no index data available."
    1017    "Blank Index Values are not allowed."
    1018    "Invalid UNC path.  Please verify that both the machine and share specified exist."
    1019    "Do you wish to save the current settings?"

    1020    "The drive letter is missing or bad."
    1021    "The directory does not exist. Create it?"
    1022    "That drive is not available."
    1024    "The following Index Fields were not used."
    1025    "The following Batch Fields were not used."
    1026    "No directory was specified for Image Files."
    1027    "An invalid directory was specified for Image Files."
    1028    "An invalid directory was specified for OCR Full Text Files."
    1029    "No directory was specified for OCR Full Text Files."

    1030    "OCR Full Text Files will be discarded at Release time."
    1031    "The current settings are unusable.  Do you want to use the default settings?"
    1032    "and More"
    1033    "Cannot find the"
    1034    "file."
    1035    "Help"
    1036    "Help file."
    1037    "Help files"
    1038    "Do you want to try to find this file yourself?"
    1039    "Check to see that the file exists on your disk."
    1040    "If it doesn't, you need to reinstall it."
    1041    "Invalid help file:"
    1042    "An invalid directory was specified for Kofax PDF Files."
    1043    "The Kofax PDF release directory cannot be blank. Please specify a valid path."
    2000    "You have previously selected PDF 2.01 image format which is no longer supported in this release of Ascent Capture."
    2001    "The image format will be set to Multipage TIFF - CCITT Group 4."

    2002    "The PDF 2.01 image format is not supported."
    2003    "Please run release setup to choose a different image format."

    2004    "Warning: Releasing uncompressed image formats may not work properly, and images"
    2005    "may be lost.  Please view your released images to ensure that your uncompressed images"
    2006    "are being properly released before you use this batch class in a production environment."
    2007    "In addition, check the Technical Support page on the Kofax web site for up-to-date"
    2008    "product information, including Frequently Asked Questions (FAQs) and product patches."

    3700    "Are you sure you want to delete this Index Value?"
    3701    "Link Table Error"

    3702    "Are you sure you want to delete all Index Values?"
    3703    "&Add"
    3704    "D&elete"
    3705    "Dele&te All"
    3706    "&Move"

    7001    "An error "
    7002    " happened logging this error."
    7003    "Internal error"
    7004    "No validation failure."
    7005    "Missing image type:"
    7006    "Fatal Error"
END
